/* --------------------------- Font --------------------------- */

@font-face {
    font-family: "Ubuntu";
    src: url("../font/Ubuntu-M.ttf") format("truetype");
}


/* --------------------------- Form --------------------------- */

#input-data {
    width: 90vw;
    font-family: Ubuntu;
    margin: 0 auto;
    margin-top: 5vh;
    display: flex;
}


/* --------------------------- Table --------------------------- */

#myTable {
    font-family: Ubuntu;
    width: 90%;
    margin: 0 auto;
    margin-top: 5vh;
    border-collapse: collapse;
}

#myTable th {
    background-color: blueviolet;
    padding: 10px;
    color: white;
    font-weight: 100;
}

#myTable td, th{
    border: 1px solid #ddd;
    padding: 8px;
}

#myTable td{
    padding: 5px;
}

#myTable tr:nth-child(even) {
    background-color: #f2f2f2;
}

#myTable tr:hover {
    background-color: #ddd;
}

.remove-btn{
    width: 100%;
    height: 100%;
    text-align: center;
    border-width: 0px;
    background-color: transparent;
    cursor: pointer;
}